@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid #929292;
  background-color: #F0EED6;
  font-weight: 300;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
#homeBackgroundImage {
  background-image: url("/assets/BookBackgroundBlurred.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 400px;
}
.foregroundText {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding-top: 330px;
}
.home {
  background-color: #F0EED6;
}
#homeText {
  padding: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: larger;
}