@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/*
#576E7D Dark Blue
#C7E2F4 Light Blue
#412891 Dark Purple
#AD9CDF Light Purple
*/

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
}
.navbar {
  padding: 20px 0px;
  background-color: #576E7D;
  font-weight: 300;
}
.navbar h1 {
  color: white;
}
.navbar h1:hover {
  color: black;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: black;
}
#homeBackgroundImage {
  background-image: url("assets/BookBackgroundBlurred.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 420px;
}
.foregroundText {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding-top: 330px;
}
.home {
  background-color: #C7E2F4;
}
.Membres {
  background-color: #C7E2F4;
}
.Reunion {
  background-color: #C7E2F4;
}
.Livre {
  background-color: #C7E2F4;
}
.Footer {
  background-color: #576E7D;
}
.book-preview {
  padding: 10px 16px;
  border: #A1F1E7;
}
.book-preview:hover {
  box-shadow: 3px 3px 5px black;
}
.book-preview h2{
  font-size: 20px;
  color: #333;
  margin-bottom: 8px;
}
.cardImage {
  width: min-content;
  height: 15vw;
  object-fit: cover;
}
.dropdownToggle {
  color: #A1F1E7;
}
.voteCard {
  width: '14rem'; 
  padding: '1rem'; 
  margin: '1rem 3rem';
}
.voteCard:hover {
  cursor: pointer;
}
.navbar-container {
  margin-right: 0;
  margin-left: 0;
  height: fit-content;
}
.navbar-row {
  margin-right: -15px;
  margin-left: -15px;
  width: inherit;
  height: fit-content;
}
#langButton {
  border-color: white;
  background-color: #576E7D;
}
#langButton:hover{
  border-color: black;
}
#globe {
  filter: brightness(0) invert(1)
}
#langButton:hover #globe{
  filter: invert(0)
}
.readBookCard {
  margin: 1rem 1rem 3rem;
}
.purbleBubble {
  text-decoration: none;
  margin: 3rem;
  padding: 3rem;
  border-style: solid;
  border-color: #412891;
  border-width: 3px;
  border-radius: 40px;
  background-color: #AD9CDF;
  box-shadow: 3px 3px 4px black;
}