@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #929292;
  font-weight: 300;
}
.navbar h1 {
  color: white;
}
.navbar h1:hover {
  color: black;
}
.navbar a {
  margin-left: auto;
  color: white;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: black;
}
#homeBackgroundImage {
  background-image: url("assets/BookBackgroundBlurred.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 400px;
}
.foregroundText {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding-top: 330px;
}
.home {
  background-color: #DADADA;
}
.Membres {
  background-color: #DADADA;
}
.Footer {
  background-color: #929292;
}
.book-preview {
  padding: 10px 16px;
  border: #A1F1E7;
}
.book-preview:hover {
  box-shadow: 3px 3px 5px black;
}
.book-preview h2{
  font-size: 20px;
  color: #333;
  margin-bottom: 8px;
}
.cardImage {
  width: min-content;
  height: 15vw;
  object-fit: cover;
}
.dropdownToggle {
  color: #A1F1E7;
}
.voteCard {
  width: '14rem'; 
  padding: '1rem'; 
  margin: '1rem 3rem';
}
.voteCard:hover {
  cursor: pointer;
}